.bg {
	background-image: url(../images/Thinker.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
	background-color:rgba(99, 17, 91, 0.3);
}

h1 {
	color: white;
	text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

h3 {
	color: white;
	text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

label {
	color: black;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#timer {
	line-height: 60px;
}

.footer {
	position: fixed;
	bottom: 0;
	background: gray;
	color: white;
	width: 100%;
}